body {
    background-color: #8eb7b6;
    color: #112e58;
    font-family: "Lexend", sans-serif;
}

a {
    color: #811e74;
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -2px;
}

h2 {
    background-color: #811e73bb;
    color: #8eb7b6;
    padding: 20px;
    border-radius: 10px;
}

.intro {
    color: #811e74
}

a {
    color: inherit;
    text-decoration: none;
    background-color: #02347b2c;
    border-radius: 8px;
    padding: 2px 5px;
    font-style: normal;
    transition: all .2s;
}

a:hover {
    color: #8eb7b6;
    background-color: #112f58b6;
}